# Environment variables for running this app.
# For more details on how to configure this var, refer to:
# https://docs.unbound.rlzy.me/configuration

# ---------------------------------------------------------------------------

# Required variables
# This variable are essential for session generation and authentication flow.
# If you dont have the right values for this yet, deploy first,
# open the deployed url, and follow the provided instruction.

SESSION_SECRET_KEY=""
JWK_PRIVATE_KEY=""
JWK_PUBLIC_KEY=""

# ---------------------------------------------------------------------------

# Identity config variables
# One of these providers must be set to allow user login.
# Both *_CLIENT_ID and *_CLIENT_SECRET must be set together as a pair.
# Available providers: GOOGLE, GITHUB, DISCORD

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# GITHUB_CLIENT_ID=""
# GITHUB_CLIENT_SECRET=""

# DISCORD_CLIENT_ID=""
# DISCORD_CLIENT_SECRET=""

# ---------------------------------------------------------------------------

# Optional KV configuration
# For more details on how to configure this, refer to:
# https://docs.unbound.rlzy.me/getting-started#kv

CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_API_TOKEN=""
CLOUDFLARE_KV_NAMESPACE_ID=""

# ---------------------------------------------------------------------------

# Other config

# APP_NAME=""
# SESSION_COOKIE_NAME="unbound_session"
# SESSION_COOKIE_TTL="604800"
# AUTHORIZE_CODE_EXPIRATION="120"
# AUTHORIZE_CODE_KV_TTL="600"
# AUTHORIZE_TOKEN_EXPIRATION="900"
