@import "tailwindcss";

:root {
    --background: #0d0c13;
    --foreground: #f0f0f0;
    --primary: #2a206e;
    --danger: #e3242a;
    --card: #0e0e17;
    --muted: #282828;
    --muted-foreground: #a0a0a0;
    --border: #2a2638;

    --sans:
        "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-danger: var(--danger);
    --color-card: var(--card);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-border: var(--border);

    --font-sans: var(--sans);
}

html {
    background-color: var(--background);
    color: var(--foreground);
}
