@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
    --background: #0d0c13;
    --foreground: #f0f0f0;

    --primary: #31257e;
    --primary-foreground: #9b90df;
    --primary-background: #19133f;

    --success: #178c46;
    --success-foreground: #73e8a2;
    --success-background: #08391c;

    --warning: #bf862a;
    --warning-foreground: #edd4bb;
    --warning-background: #32230b;

    --danger: #e7292f;
    --danger-foreground: #f7b6b8;
    --danger-background: #470f0f;

    --card: #0e0e17;
    --muted: #282828;
    --muted-foreground: #a0a0a0;
    --border: #2a2638;

    --sans:
        "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    color-scheme: dark;

    --color-fd-background: var(--background);
    --color-fd-foreground: var(--foreground);
    --color-fd-muted: var(--muted);
    --color-fd-muted-foreground: var(--muted-foreground);
    --color-fd-popover: var(--card);
    --color-fd-popover-foreground: var(--foreground);
    --color-fd-card: var(--card);
    --color-fd-card-foreground: var(--foreground);
    /*--color-fd-border: var(--border);*/
    --color-fd-primary: var(--primary);
    --color-fd-primary-foreground: var(--primary-foreground);
    --color-fd-secondary: color-mix(in srgb, var(--muted) 50%, transparent);
    --color-fd-secondary-foreground: var(--foreground);
    --color-fd-accent: color-mix(in srgb, var(--muted) 50%, transparent);
    --color-fd-accent-foreground: var(--foreground);
    --color-fd-warning: var(--warning);
    --color-fd-error: var(--danger);
    --color-fd-success: var(--success);
}

.dark #nd-sidebar,
#nd-sidebar {
    --color-fd-card: var(--background);
    --color-fd-muted: var(--muted);
    --color-fd-secondary: color-mix(in srgb, var(--muted) 50%, transparent);
    --color-fd-muted-foreground: var(--muted-foreground);
    width: var(--fd-sidebar-width) !important;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary-background: var(--primary-background);

    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-success-background: var(--success-background);

    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);
    --color-warning-background: var(--warning-background);

    --color-danger: var(--danger);
    --color-danger-foreground: var(--danger-foreground);
    --color-danger-background: var(--danger-background);

    --color-card: var(--card);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-border: var(--border);

    --font-sans: var(--sans);
}

html {
    scrollbar-gutter: stable;
    background-color: var(--background);
    color: var(--foreground);
}

body {
    font-family: var(--font-sans);
    background-color: var(--background);
    color: var(--foreground);
}

html > body[data-scroll-locked] {
    margin-right: 0px !important;
    --removed-body-scroll-bar-size: 0px !important;
}

@layer utilities {
    .prose
        :where(table):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        background-color: var(--background) !important;
    }
    .prose
        :where(th):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        background-color: var(--card) !important;
    }
}

#nd-sidebar [data-active="true"] {
    color: var(--primary-foreground);
    font-weight: var(--font-weight-medium);
    background-color: color-mix(
        in srgb,
        var(--primary-background) 80%,
        transparent
    ) !important;
}

#nd-sidebar > div:nth-child(1) > div {
    padding-bottom: calc(var(--spacing) * 2);
}

[data-sidebar-panel] {
    background-color: var(--card);
}

#nd-toc,
#nd-toc #toc-title,
#nd-toc a {
    color: var(--muted-foreground);
    --color-fd-primary: var(--color-primary-foreground);
}
[data-toc-popover] {
    --color-fd-primary: var(--color-primary-foreground);
}
#nd-toc a[data-active="true"],
[data-toc-popover] a[data-active="true"] {
    color: var(--primary-foreground);
    font-weight: var(--font-weight-medium);
}

[role="tablist"] {
    padding-top: var(--spacing);
    padding-bottom: calc(var(--spacing) * 2);
}
[role="tablist"] [data-state="active"] {
    --color-fd-primary: var(--primary-foreground);
}

pre,
.shiki {
    background-color: var(--background);
}